.content {
    animation-name: visualizePosts;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    transform: scale(0.99);
    opacity: 0;

    padding: 20px 0 30px 0;
    margin: 0 auto;
    max-width: 900px;

    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    line-height: 1.65;
    color: #d0d0d0;
}

@keyframes visualizePosts {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#post-previews .preview {
    padding-top: 30px;
}

#post-previews .title {
    text-align: left;
    padding-bottom: 5px;
}

#post-previews .title a {
    color: #cc0000;
    font-size: 1.32em;
    font-weight: 600;
}

#post-previews .title a:visited {
    text-decoration: none;
}

#post-previews .title a:focus {
    text-decoration: none;
}

#post-previews .title a:hover {
    text-decoration: none;
    color: #ff0000;
    letter-spacing: 0.055em;
}

#post-previews .date {
    padding-bottom: 15px;
}
