#blog-wrapper {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../img/shirakawago.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#opacity-layer {
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.96));
    background-attachment: fixed;
}

#blog-posts {
    animation-name: visualizePosts;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    transform: scale(0.99);
    opacity: 0;

    padding: 20px 0 30px 0;
    color: #d0d0d0;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-align: justify;
    line-height: 1.65;
}

@keyframes visualizePosts {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#blog-posts .post-preview {
    padding-top: 30px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#blog-posts .post-title {
    text-align: left;
    padding-bottom: 5px;
}

#blog-posts .post-title a {
    color: #cc0000;
    font-size: 1.32em;
    font-weight: 600;
}

#blog-posts .post-title a:visited {
    text-decoration: none;
}

#blog-posts .post-title a:focus {
    text-decoration: none;
}

#blog-posts .post-title a:hover {
    text-decoration: none;
    color: #ff0000;
    letter-spacing: 0.055em;
}

#blog-posts .post-date {
    padding-bottom: 15px;
}
