.content {
    animation-name: visualizePosts;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    transform: scale(0.99);
    opacity: 0;

    padding: 20px 0 30px 0;
    margin: 0 auto;
    max-width: 900px;

    text-align: justify;
    font-size: 1.1em;
    letter-spacing: 0.05em;
    line-height: 1.65;
    color: #d0d0d0;
}

@keyframes visualizePosts {
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#post-previews .preview {
    padding-top: 30px;
}

#post-previews .title {
    text-align: left;
    padding-bottom: 5px;
}

#post-previews .title a {
    color: #e60000;
    font-size: 1.32em;
    font-weight: 600;
}

#post-previews .title a:visited {
    text-decoration: none;
}

#post-previews .title a:focus {
    text-decoration: none;
}

#post-previews .title a:hover {
    text-decoration: none;
    color: #bb0000;
}

#post-previews .date {
    padding-bottom: 15px;
}

.full-post .title {
    padding-top: 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: #e60000;
}

.full-post .date-and-author {
    text-align: center;
}

.full-post .underline {
    margin: 10px auto;
    height: 2px;
    background: #eee;
    width: 50%;
}

.full-post h1, h2, h3 {
    margin: 0;
    padding: 40px 0 10px 0;
    font-weight: 600;
    border-bottom: 1px solid;
    color: #e60000;
}

.full-post h4, h5 {
    margin: 0;
    padding-top: 40px;
    font-weight: 600;
    color: #e60000;
}

.full-post p {
    margin: 0;
    padding-top: 20px;
}

.full-post ul {
    margin: 0;
    padding-top: 20px;
}

.full-post a {
    color: #ff00ff;
    font-weight: 600;
}

.full-post a:visited {
    text-decoration: none;
}

.full-post a:focus {
    text-decoration: none;
}

.full-post a:hover {
    text-decoration: none;
    color: #cc00ff;
}
