.page-wrapper {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../img/shirakawago.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.opacity-layer {
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.96));
    background-attachment: fixed;
}