body {
    font-family: Helvetica, sans-serif;
}

header {
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.6s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;

    transform: translateY(-200px);
    border-bottom: 2px solid #eee;
    color: #eee;
    text-align: center;
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}

header .photo {
    display: inline-block;
    padding: 20px 20px 20px 0;
}

header .names {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

header .nickname {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.28em;
}

header .realname {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin-bottom: 5px;
}

header .description {
    font-size: 14px;
    letter-spacing: 0.15em;
    width: 75%;
    max-width: 450px;
    text-align: justify;
    margin: 0 auto;
    padding: 20px 0;
}

header .underline {
    height: 2px;
    background: #eee;
}

header .social-links {
    padding-top: 8px;
}

header .social-links i {
    margin-right: 20px;
    font-size: 24px;
    color: #eee;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #eee;
}

.custom-button {
    background: transparent;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 2px;
    width: 200px;
}

.custom-button:hover {
    background: rgba(238, 238, 238, 0.1);
}

.custom-button:active {
    background: rgba(238, 238, 238, 0.2);
}


@media only screen and (max-width: 768px) {

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 2px solid #eee;
    }

    header .nickname {
        margin-top: 5px;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0.28em;
    }

    header .realname {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.2em;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 328px) {

    .avatar {
        display: none;
    }

    header .names {
        padding: 10px 0;
    }
}

