<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="photo">
                    <img class="avatar" src="/img/suui.jpg">
                </div>

                <div class="names">
                    <div class="nickname">Suui</div>
                    <div class="realname">Daniel Ojeda Loisel</div>
                    <div class="underline"></div>
                    <div class="social-links">
                        <a href="https://github.com/Suui"><i class="ion-logo-github"></i></a>
                        <a href="https://twitter.com/SuuiGD"><i class="ion-logo-twitter"></i></a>
                        <a href="https://es.linkedin.com/in/danielojedaloisel"><i class="ion-logo-linkedin"></i></a>
                        <a href="/feed.xml"><i class="ion-logo-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
