---
layout: blog
---

<section class="full-post">
    <div class="title">{{ page.title }}</div>
    <div class="date-and-author">Published by {{page.author}} the {{ page.date | date: "%d %B %Y" }}</div>
    <div class="underline"></div>
    
    {{ content }}

    <div class="back-to-blog">
        <a href="/blog"><button class="custom-button">Back to blog</button></a>
    </div>

    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ site.url | append: page.url }}';
            this.page.identifier = '{{ page.title }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//suui.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
